<div id="welcome-bar" 
     data-welcome-text="{{ section.settings.welcome_text }}"
     data-background-color="{{ section.settings.background_color }}">
</div>

<script type="module" src="{{ 'vite-client.js' | asset_url }}" defer></script>
<script type="module" src="{{ 'vite-WelcomeBar.js' | asset_url }}" defer></script>
